@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
  --a:0;
}
*{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
body{
  background-color: black;
  color: white;
}

.close{
  display: none;
}

.left{
  width: 25vw;
  padding:10px ;
}

.right{
  width: 75vw;
  margin: 16px 0;
  position: relative;
}

.home ul li{
  display: flex;
  gap: 15px;
  width:14px ;
  list-style: none;
  padding-top: 14px;
  font-weight: bold;
}
.heading{

  display: flex;
  gap: 15px;
 
  padding-top: 14px;
  font-weight: bold;
  padding: 23px 14px;
  font-size: 13px;
  align-items: center;

}

.heading img{
  width: 30px;
}

.library{
    min-height: 80vh;
    position: relative;
    padding: 0 10px;
}

.footer {
  display: flex;
  font-size: 10px;
  color: grey;
  gap: 13px;
  position: absolute;
  bottom: 0;
  padding: 10px 0;

}

.footer a {
  color: grey;
  margin-top: 15px;
  
}

.header{
  display: flex;
  justify-content: space-between;
  background-color: rgb(34, 34, 34);

}

.header >*{
  padding: 20px;
}

.spotifyPlaylist{
  padding: 16px;
}

.spotifyPlaylist h1{
  padding: 16px;
}
.cardContainer{
  margin: 30px auto;
  display: flex;
 justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
  overflow-y: auto;
  max-height: 45vh;
  
  
}

.card{
  width: 220px;
  padding: 10px;
  border-radius: 5px;
  background-color: #252525;
  position: relative;
  transition: all 0.9s;
}
.card:hover{
  background-color: rgb(105, 103, 103);
  cursor: pointer;
  --a:1;
}
.card >*{
  padding-top: 10px;
}
.card img{
  width: 100%;
  object-fit: contain;
}

.play{
    width: 28px;
    height: 28px;
    background-color: #1fdf64;
    border-radius: 50%;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 168px;
    right: 17px;
    opacity: var(--a);
    transition: all 1s ease-out;
}

.buttons >*{
  margin: 0 9px;
}
.signupbtn{
  background-color: rgb(34, 34, 34);
  color: rgb(156, 148, 148);
  font-weight: bold;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 16px;
}
.signupbtn:hover{
  font-size: 17px;
  color: white;
}

.loginbtn{
  background-color: white;
  border-radius: 21px;
  color: black;
  padding: 10px;
  width: 79px;
  cursor: pointer;
  font-size: 16px;
}
.loginbtn:hover{
  font-weight: bold;
  font-size: 17px;

  
}

.spotifyPlaylist{
  position: relative;
}
.playbar{
  display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 30px;
    filter: invert(1);
    background: #e2d9d9;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 30px;
    filter: invert(1);
    background: #e2d9d9;
    border-radius: 10px;
    width: 85%;
    padding: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 30px;
    filter: invert(1);
    background: #e2d9d9;
    border-radius: 10px;
    width: 90%;
    padding: 12px;
    width: 68vw;
    min-height: 40px;
   
  

}

.songbuttons {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  gap: 16px;
  
}
.songbuttons img{
  cursor: pointer;
}

.songList{
  height: 544px;
  overflow: auto;
  margin-bottom: 44px;
}
.hamburger{
  display: none;
  cursor: pointer;
}

.hamburgerContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
}

.songList ul{
    padding: 0 12px;
    margin-bottom: 20px;
    
    
}

.songList ul li {
  list-style-type: none; /* Remove default list style */
  display: flex;
  justify-content: space-between;
  align-items: center; /* Center items vertically */
  gap: 8px; /* Add some space between elements */
  border: 1px solid white;
  margin: 8px 0;
  padding: 10px;
  border-radius: 5px;
  font-size: 15px;
  
}

.songList .info{
  font-size: 13px;
  width: 344px;
}
.info div{
  word-break: break-all;
}

.playnow {
  display: flex;
  gap: 2px;
  align-items: center;
  justify-content: center; /* Center horizontally */
}

.playnow span {
  font-size: 13px;
  padding: 2px 2px; /* Adjust padding for better alignment */
   /* Add border to the top */
  display: flex;
}

.playnow img {
  width: 27px; /* Adjust width */
  height: 27px; /* Adjust height */
}


.library .heading {
  padding: 0 8px; /* Adjust padding */
}

.library .songList ul {
  padding: 0 8px; /* Adjust padding */
}

.library .footer {
  padding: 0 10px; /* Adjust padding */
}

.songList .info{
  font-size: 13px;
  width: 344px;
}

.seekbar{
  height: 4px;
  width: 98%;
 background-color: black;
  border-radius: 10px;
  position: absolute;
  bottom: 8px;
  cursor: pointer;
 
  margin: 6px;
}

.circle{
    width: 13px;
    height: 13px;
    border-radius: 13px;
    background-color: black;
    position: relative;
    bottom: 6px;
    left: 0%;
    transition: left 0.5s;
}
.timevol{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.songinfo,  .songtime{
  color: black;
  padding: 0 12px;
  width: 250px;
  
}
.songtime{
  color: black;
  padding: 0 12px;
  width: 125px;
  
}
.volume {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  cursor: pointer;
}
.range input{
  cursor: pointer;
}

.range input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 4px;
  border-radius: 10px;
  background-color: #1152e4;
  cursor: pointer;
  outline: none;
}

.range input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #1152e4; /* Set thumb color to orange */
  cursor: pointer;
}


.abovebar{
  display: flex;
  justify-content: space-between;
  margin: 20px 0;

}

@media (max-width : 1200px)
{
   .left {
        position: absolute;
        left: -130%;
        transition: all .3s;
        z-index: 1;
        width: 373px;
        background-color: black;
        padding: 0;
        height: 100vh;
        position: fixed;
        top: 0;
    }
  .songinfo, .songtime{
    width: auto;
    
  }
  .left .close{

    position: absolute;
    right: 31px;
    top: 25px;
    width: 29px;
  }
  .right{
    margin: 0;
    width: 100vw;
  }

  .timevol{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    gap:13px;
  }
  
  
  
  .playbar{
    width: calc(93vw);
    justify-content: center;
    align-items: center;
    font-size: 35px;
   
    
    
  }
  .seekbar{
    width: 90%;
    
    
  }

  .hamburger{
    display: block;
  }

  .card{
    width: 44vw;
  }
  .cardContainer {
    justify-content: center;
    margin: 0;
  }

  .close{
    display: block;
  }

  .abovebar{
    flex-direction: column;
    gap: 23px;
    align-items: center;

  }
  .cardContainer {
    max-height: unset;
    overflow-y: unset;
    margin-bottom: 35vh;
}



}

@media (max-width : 500px){
  .card {
    width: 100%;
}

.header>* {
    padding: 2px;
}

.buttons>* {
    margin: 0 6px;
}

.header{
    padding: 7px;
}

.spotifyPlaylists h1 {
    padding: 4px;
}

.library{
    height: 85vh;
}

.left{ 
    width: 100vw;
}

.playbar{
  font-size: 20px;
  width: calc(87vw);
  
}


}